
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";

body{
  @include background(radial-gradient(rgb(26, 148, 221),rgb(3, 84, 123)));

}
h1{
  @include border-style(solid null solid);
  @include background(linear-gradient(rgb(255, 116, 79),rgb(195, 41, 0)));
  text-align: center;
  font-size: 5em;

}

.ui-state-default{
  background-color: rgb(136, 199, 230);
  text-align: center;
  margin: 0 auto;
    width: 50%;
    @include border-style(solid solid solid solid);
    @include border-width(1em 3px null 100%);
    @include border-color(rgb(3, 84, 123));
    @include position(relative, 0 null null 1em);
    @include padding(10px 10px 10px 10px);
    // padding: 1.4em; padding-left: 1.5em;
}

#submit-button{
   @include position(relative, 0 null null 37em);
}

#notice{
  color:rgb(255, 116, 79);
}

#due-date{

}


.confirm{
  text-align: center;
  background-color: rgb(136, 199, 230);
  @include border-color(rgb(3, 84, 123));
  @include margin(250px 450px ); width:25%;
  @include position(relative, 0 null null 0em);
  @include border-style(solid);
  @include padding(10px 10px 10px 10px);

}
