<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger">Click for Modal</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>


        <h1>hello world</h1>
        <%= render partial: '/tasks/form', locals:{tasks: @tasks}  %>


    </div>
  </div>
</div>
